<app-card>
  <div breadcrumb style="display: flex;">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active">Episode</li>
  </div>

  <div title> Episodes</div>

  <div header> Episode list {{this.from}}</div>

  <div body>

    <app-episode-filters (search)="search($event)"></app-episode-filters>

    <app-episode-list [episodesIds]="ids"></app-episode-list>
  </div>

  <div footer>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</app-card>
