<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Starter Page</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Starter Page</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col">

        <app-card>
          <div header> Characters</div>
          <div body>
            <app-character-list></app-character-list>
          </div>
        </app-card>

      </div>
      <!-- /.col-md-6 -->
      <div class="col">

        <app-card>
          <div header> Episodes</div>
          <div body>
            <app-episode-list></app-episode-list>
          </div>
        </app-card>

      </div>

      <div class="col">

        <app-card>
          <div header> Locations</div>
          <div body>
            <app-location-list></app-location-list>
          </div>
        </app-card>

      </div>
      <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content -->
