<app-card>
  <div breadcrumb style="display: flex">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active">Location</li>
  </div>

  <div title>Location</div>

  <div header>Location details</div>

  <div body>
    <div *ngIf="location">

      <p-tabView>
        <p-tabPanel header="Details">
          <div class="row">

            <div class="col">
              <div class="row">
                <label for="">id:</label>
                <div class="col">{{ location.id }}</div>
              </div>

              <div class="row">
                <label for="">name:</label>
                <div class="col">{{ location.name }}</div>
              </div>

              <div class="row">
                <label for="">url:</label>
                <div class="col">{{ location.url }}</div>
              </div>

              <div class="row">
                <label for="">created:</label>
                <div class="col">{{ location.created | date }}</div>
              </div>
            </div>

          </div>
        </p-tabPanel>
        <p-tabPanel header="Residents">
          <div class="col" *ngIf="location.residents">
            <app-character-list [characterIds]="location.residents"></app-character-list>
          </div>
        </p-tabPanel>

      </p-tabView>


    </div>
  </div>

  <div footer>
<!--     <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a> -->
  </div>
</app-card>
