.card-title {
  margin-bottom: 50px;
}

.action-button {
  margin-right: 13px;
  font-size: 23px;
}

.p-card {
  margin-bottom: 50px;
}

.button-filter {
  margin-top: 50px;
}

.component-wide {
  min-width: 80%;
}

.row-filter {
  margin: 20px;
}
